version: '3.8'

services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    depends_on:
      - zookeeper

  db-orders:
    image: postgres:15-alpine
    environment: { POSTGRES_USER: postgres, POSTGRES_PASSWORD: postgres, POSTGRES_DB: orders }

  db-inventory:
    image: postgres:15-alpine
    environment: { POSTGRES_USER: postgres, POSTGRES_PASSWORD: postgres, POSTGRES_DB: inventory }

  order-service:
    build:
      context: ./order-service
      dockerfile: ../Dockerfile.service
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db-orders:5432/orders
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    ports:
      - "8001:8000"
    depends_on: [ kafka, db-orders ]

  inventory-service:
    build:
      context: ./inventory-service
      dockerfile: ../Dockerfile.service
    command: python -m app.kafka.consumer
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db-inventory:5432/inventory
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on: [ kafka, db-inventory ]

  payment-service:
    build:
      context: ./payment-service
      dockerfile: ../Dockerfile.service
    command: python -m app.kafka.consumer
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on: [ kafka ]

  notification-service:
    build:
      context: ./notification-service
      dockerfile: ../Dockerfile.service
    command: python -m app.kafka.consumer
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=kafka:9092
    depends_on: [ kafka ]
